<div class="cbp-af-header">
	<div class="cbp-af-inner">
		<a href="{{site.baseurl}}/"><img src="img/logo.svg" class="flex-logo"></a>

		<div class="nav1">
			<nav>
				<a href="{{site.baseurl}}/">Home</a>
				<a href="http://amss.avestia.com/">Submission</a>
				<a href="journals">Journals</a>
				<a href="ethics">Ethics in Publishing</a>
				<a href="guidelines">Author Guidelines</a>
			</nav>
		</div>

		<div class="search-menu">
			<gcse:searchbox-only resultsUrl="results"></gcse:searchbox-only> <div class="menu-trigger-1"><p class="menu">MENU</p></div>
		</div>

		<div class="nav">
			<nav>
				<a href="{{site.baseurl}}/">Home</a>
				<a href="http://amss.avestia.com/">Submission</a>
				<a href="journals">Journals</a>
				<a href="ethics">Ethics in Publishing</a>
				<a href="guidelines">Author Guidelines</a>
			</nav>
		</div>
	</div>
</div>