<div class="mobile">
<section class="slider">
  <div class="flexslider">
    <ul class="slides">

      <li>
        <img src="../img/journals/journals.jpg" class="flex-header">
        <div class="flex-caption">
          <h3>Avestia Website Redesign</h3>

          <p class="body"><a href="../news-articles/001.html" class="body-link">Read more</a></p>
        </div>
      </li>
    </ul>
  </div>
</section><!-- END SLIDESHOW -->
</div>

<div class="desktop">
<section class="slider">
  <div class="flexslider">
    <ul class="slides">

      <li>
				<img src="../img/journals/journals.jpg" class="flex-header">
  	    <div class="flex-caption">
          <h2>Latest News</h2>
          <h3>Avestia Website Redesign</h3>
          <p class="body">Avestia Publishing has recently undergone a major website re-design in order to improve the website both aesthetically and functionally. We are working hard to ensure full responsiveness and optimal performance of the website on different platforms and devices.</p>

          <p class="body"><a href="../news-articles/001.html" class="body-link">Read more</a></p>
        </div>
  	  </li>
				
    </ul>
  </div>
</section><!-- END SLIDESHOW -->
</div>