<div class="mobile">
<section class="slider">
  <div class="flexslider">
    <ul class="slides">

      <li>
        <img src="img/1.jpg" class="flex-header">
        <div class="flex-caption">
          <h3>Key new species discoveries of 2014</h3>

          <p class="body"><a href="" class="body-link">Read more</a></p>
        </div>
      </li>
      
      <li>
        <img src="img/1.jpg" class="flex-header">
        <div class="flex-caption">
          <h3>Hello</h3>

          <p class="body"><a href="" class="body-link">Read more</a></p>
        </div>
      </li>
        
    </ul>
  </div>
</section><!-- END SLIDESHOW -->
</div>

<div class="desktop">
<section class="slider">
  <div class="flexslider">
    <ul class="slides">

      <li>
				<img src="img/1.jpg" class="flex-header">
  	    <div class="flex-caption">
          <h2>Latest News</h2>
          <h3>Key new species discoveries of 2014</h3>
          <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis vehicula scelerisque. Vestibulum ac purus leo. Sed rhoncus id tellus vitae viverra. Etiam placerat consectetur mollis. Duis congue, ex et dignissim fermentum, mauris enim viverra nunc, id placerat quam arcu eu metus.</p>

          <p class="body"><a href="" class="body-link">Read more</a></p>
        </div>
  	  </li>
  	  
      <li>
				<img src="img/1.jpg" class="flex-header">
  	    <div class="flex-caption">
          <h2>Latest News</h2>
          <h3>Hello</h3>
          <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis vehicula scelerisque. Vestibulum ac purus leo. Sed rhoncus id tellus vitae viverra. Etiam placerat consectetur mollis. Duis congue, ex et dignissim fermentum, mauris enim viverra nunc, id placerat quam arcu eu metus.</p>

          <p class="body"><a href="" class="body-link">Read more</a></p>
        </div>
  	  </li>
				
    </ul>
  </div>
</section><!-- END SLIDESHOW -->
</div>